<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">Online course</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://th.bing.com/th/id/OIP.9_MptOLxjJEGSGukPt9FWQHaHa?w=191&h=191&c=7&r=0&o=5&pid=1.7"
              alt="image"
              class="user-avatar"
            />
            UserAdmin
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/me/store/courses">
                Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/store/post">
                Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>